
/*universal styles*/
html {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    opacity: 80%;
    text-align: center;
    margin: 0; padding: 0;
    scroll-behavior: smooth;
}
html, body {
    top: 0; right: 0; bottom: 0; left: 0;
}
a {
    color: black;
    text-decoration: none;
}

/*header*/
.header {
    left: 0; right: 0; top: 0;
    margin: 0; padding: 0;
    height: 9rem;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: white;
}
/*header logo and text*/
.header-top {
    left: 0; right: 0; top: 0;
    margin: 0; padding: 0;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
/*header logo*/
.header-top .header-logo img {
    width: 3rem;
    opacity: 1;
    cursor: pointer;
    animation: 1.5s ease 0s 1 logo-appear;
}
@keyframes logo-appear {
    0% {opacity: 0%;}
    100% {opacity: 100%}
}
.header-logo img:active {
    animation: 1s ease 0s 1 logo-resize;
}
@keyframes logo-resize {
    50% {width: 5rem;}
}
/*header text*/
.header h1 {
    margin: 0; padding: 0;
    font-size: 1.9rem;
    text-align: center;
}
/*plumber greaves heading in header text*/
.header h1 span {
    /*nice pipework style text shadow*/
    text-shadow: 0.0125rem 0.0125rem 0.5rem hsla(240, 3%, 94%, 80%);
    /*water level background image*/
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-image:-webkit-radial-gradient(center 10px, 10px 10px, black 70%, hsl(202, 69%, 56%) 71%);
    background-size: 0.75rem 2rem;
}
/*header nav*/
nav {
    top: 8rem;
    margin: 0; padding: 0;
    width: 100%;
    background-color: rgb(189, 144, 221);
}
nav ul {
    margin: 0; padding: 0;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    padding: 0;
    font-size: 1.25rem;
    text-shadow: 0.0625rem 0.0625rem white;
    display: flex;
}
nav ul li:hover {
    font-weight: bold;
    cursor: pointer;
}

/*main*/
.content {
    left: 0; right: 0;
    top: 9rem;
    padding: 0.5rem 0.5rem 5rem;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.content div {
    scroll-margin-top: 9rem;
    width: 24rem;
    height: auto;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: hsla(0, 0%, 69%, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 250ms ease-in-out;
}
.content div:nth-of-type(3) {
    flex-grow: 3;
}
.content div:nth-of-type(6) {
    flex-grow: 2;
}
.content div:hover {
    transform: scale(1.025);
    box-shadow: 0.25rem 0.25rem 0.5rem black;
}
.content div h2, 
.content div p {
    padding: 0.25rem; margin: 0;
}
.content div img {
    padding: 0.5rem;
    margin: 0.5rem;
    height: 16rem;
    transition: all 250ms ease-in-out 0s;
}
.content div img:active {
    transform: scale(2);
}
.content div #who-image,
.content div #how-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

/*footer*/
.contact {
    bottom: 0; left: 0; right: 0;
    padding: 0.25rem 0;
    height: 3.5rem;
    z-index: 20;
    position: fixed;
    background-color: rgb(84, 126, 54);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact .contact-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.contact span {
    position: relative;
    top: -0.1875rem;
    padding-right: 0.5rem;
}
.contact a:hover span {
    animation: 0.5s linear infinite contact-shake;
}
@keyframes contact-shake {
    25% {transform: rotate(45deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-45deg);}
    50% {transform: rotate(0deg);}
}
.contact h2, .contact a {
    margin: 0; padding: 0;
    font-size: 1.25rem;
    color: black;
    text-shadow: 0.0625rem 0.0625rem white;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/*smaller than default width*/
@media only screen and (max-width: 416px) {
    .header {height: 8rem;}
    .header-top {height: 6rem;}
    .header h1 {font-size: 7vw;}
    .header h1 span {
        background-image:-webkit-radial-gradient(center 5px, 10px 10px, black 70%, hsl(202, 69%, 56%) 71%);
        background-size: 0.6rem 2rem;
    }
    nav ul li {font-size: 5vw;}
    .content {top: 8rem;}
    .content div {
        scroll-margin-top: 8rem;
        width: auto;
        font-size: 4vw;
    }
    .content div img {
        width: auto;
        height: auto;
        max-width: 12rem;
        max-height: 16rem;
    }
    .contact h2, .contact a {font-size: 5vw;}
}

/*smaller than default height but only if not smaller than smallest specified width*/
@media only screen and (max-height: 696px) and (min-width: 416px) {
    .header {height: 7rem}
    .header-top {
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header-top .header-logo img {padding: 1rem;}
    .header h1 span {background-size: 0.5rem 1.5rem;}
    .content {
        top: 7rem;
        padding-bottom: 4rem;
    }
    .content div {
        scroll-margin-top: 7rem;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .content div:hover {
        transform: scale(1.0125);
        box-shadow: 0.25rem 0.25rem 0.5rem black;
    }
    .content div img:active {transform: none;}
    .content div img:hover {transform: scale(2);}
    .content div #who-image,
    .content div #how-images {
        display: inline-flex;
        flex-flow: row nowrap;
    }
    .contact {
        height: 2.5rem;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
}

/*large enough to do word animation*/
@media only screen and (min-width: 1272px) {
    .header {height: 11rem}
    .header-top {
        height: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header-top .header-logo img {
        width: 5rem;
        padding: 0.5rem 2rem;
    }
    .header h1 {font-size: 5rem;}
    .header h1 span {
        /*water level animation*/
        background-image:-webkit-radial-gradient(center 10px, 100px 100px, black 70%, hsl(202, 69%, 56%) 71%);
        background-size: 4rem 8rem;
        -webkit-animation-name: waterLevel; 
        -webkit-animation-duration: 5s;
        -webkit-animation-delay: 2s;
        -webkit-animation-iteration-count: infinite; 
        -webkit-animation-timing-function: linear;
    }
    @-webkit-keyframes waterLevel { 
        0% {background-position: 220px 10px;}
        70% {background-position: 50px -20px;}
        100% {background-position: -10px -45px;}
    }
    /*remove animations when hover over header*/
    header:hover .header-text h1 span {
        -webkit-animation-play-state: paused;
    }
    nav ul {height: 3rem;}
    nav ul li {font-size: 2rem;}
    .content {
        top: 11rem;
        padding-top: 0.5rem;
        padding-bottom: 3.5rem;
    }
    .content div {scroll-margin-top: 11rem;}
    .contact {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .contact h2, .contact a {
        font-size: 2rem;
        text-shadow: 0.125rem 0.125rem white;
    }
}