
/*universal styles*/
html {
    font-family: "Lexend";
    font-size: 16px;
    opacity: 80%;
    text-align: center;
    margin: 0; padding: 0;
}

html, body {top: 0; right: 0; bottom: 0; left: 0;}

a {
    color: black;
    text-decoration: none;
}

/*header*/
.header {
    left: 0; right: 0; top: 0;
    z-index: 10;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*header logo*/
.header-logo {
    margin-top: 1rem;
    font-size: 1rem;
    width: 10%;
    padding: 0.25rem 1rem;
    background-color: grey;
}
/*header text*/
.header .header-text {
    margin: 0;
}
.header h1 {
    margin: 0;
    padding-top: 0.5rem;
    font-size: 5rem;
    text-align: center;
}
.header h1 span {
    text-shadow: 0.0125rem 0.0125rem 0.5rem hsla(240, 3%, 94%, 80%);
    background-image:-webkit-radial-gradient(center 10px, 100px 100px, black 70%, hsl(202, 69%, 56%) 71%);
    background-size: 4rem 8rem;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-animation-name: waterLevel; 
    -webkit-animation-duration: 5s;  
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes waterLevel { 
    0% {background-position: 220px 10px;}
    70% {background-position: 50px -20px;}
    100% {background-position: -10px -45px;}
}
/*remove both animations when hover over header*/
header:hover .header-text h1 {
    -webkit-animation-play-state: paused;
}
/*header nav*/
nav {
    margin: 1rem 0 0 0; padding: 0;
    width: 100%;
    background-color: hsla(275, 57.3%, 67.8%, 60%);
    box-shadow: 0.125rem 0.125rem 1rem black;
}
nav ul {
    margin: 0; 
    padding: 0.25rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    padding: 0;
    display: flex;
    font-size: 3rem;
    text-shadow: 0.125rem 0.125rem white;
}
nav ul li:hover {
    font-weight: bold;
    cursor: pointer;
}

/*main*/
.content {
    left: 0; right: 0;
    margin: 16rem auto 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.content div {
    width: 24rem;
    height: auto;
    padding: 1.25%;
    margin: 2%;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background-color: hsla(240, 3%, 94%, 80%);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0.125rem 0.125rem 1rem black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content div img {
    width: 14rem;
}
/*speech bubble detail - TO FIX*/
/*.content div:before {
	content: '';
    position: relative;
	width: 1rem;
	height: 1rem;
	left: -10rem;
    top: auto;
    transform: rotate(45deg);
    background-color: hsla(240, 3%, 94%, 100%);
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}*/

/*footer*/
.contact {
    position: fixed;
    z-index: 20;
    height: 5rem;
    bottom: 0; left: 0; right: 0;
    padding: 0.25rem 0;
    background-color: hsla(95, 57.3%, 32.2%, 80%);
    box-shadow: -0.125rem -0.125rem 1rem black;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact .contact-box {
    padding-bottom: 0.5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.contact h2, .contact a {
    margin: 0; 
    padding: 0;
    font-size: 3rem;
    color: black;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: black;
    text-shadow: 0.125rem 0.125rem white;
}

/*adjust for smaller screen sizes based on width*/
@media only screen and (max-width: 1620px) and (min-height: 860px) {
    .content {margin-bottom: 8rem;}
}
@media only screen and (max-width: 1476px) and (min-height: 860px) {
    .content div {width: 28rem; height: auto;}
}
@media only screen and (max-width: 1140px) and (min-height: 860px) {
    .header h1 {font-size: 4rem;}
    .header h1 span{-webkit-animation-name: waterLevel1;}
    @-webkit-keyframes waterLevel1 { 
        0% {background-position: 220px 20px;}
        70% {background-position: 50px -20px;}
        100% {background-position: -10px -30px;}
    }
    nav ul li {font-size: 2.5rem;}
    .content {
        margin-top: 15rem;
        margin-bottom: 10rem;
    }
    .content div {
        width: 23rem; 
        height: auto;
    }
    .contact {
        height: 8rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact h2, .contact a {font-size: 2.75rem;}
}
@media only screen and (max-width: 912px) and (min-height: 860px) {
    .header h1 {font-size: 3rem;}
    .header h1 span {-webkit-animation-name: waterLevel2;}
    @-webkit-keyframes waterLevel2 { 
        0% {background-position: 220px -20px}
        70% {background-position: 50px -30px;}
        100% {background-position: -10px -40px;}
    }
    nav ul li {font-size: 2rem;}
    .content {margin-top: 13rem;}
    .content div {
        width: 20rem; 
        height: auto;
    }
}
@media only screen and (max-width: 780px) and (min-height: 860px) {
    .content div {
        width: 32rem; 
        height: auto;
        font-size: 1.25rem;
    }
    .contact h2, .contact a {font-size: 2.5rem;}
}
@media only screen and (max-width: 680px) and (min-height: 860px) {
    .header h1 {font-size: 2rem;}
    .header h1 span {
        -webkit-animation-name: waterLevel3;
        -webkit-animation-duration: 4s;
    }
    @-webkit-keyframes waterLevel3 { 
        0% {background-position: 220px -35px}
        70% {background-position: 50px -50px;}
        100% {background-position: -10px -70px;}
    }
    nav ul li {font-size: 1.5rem;}
    .content {
        margin-top: 11rem;
        margin-bottom: 9rem;
    }
    .contact {height: 7rem;}
    .contact h2, .contact a {font-size: 2rem;}
}
@media only screen and (max-width: 520px) and (min-height: 860px) {
    .contact h2, .contact a {font-size: 1.75rem;}
}
@media only screen and (max-width: 476px) and (min-height: 860px) {
    .header h1 {font-size: 1.5rem;}
    .header h1 span {
        -webkit-animation-name: waterLevel4;
        -webkit-animation-duration: 4s;
    }
    @-webkit-keyframes waterLevel4 { 
        0% {background-position: 220px -45px;}
        70% {background-position: 50px -50px;}
        100% {background-position: -10px -70px;}
    }
    nav ul li {font-size: 1rem;}
    .content {
        margin-top: 9rem;
        margin-bottom: 8rem;
    }
    .content div {
        width: auto; height: auto;
        font-size: 1rem;
    }
    .contact {height: 6rem;}
    .contact h2, .contact a {font-size: 1.5rem;}
}
/*mobile*/
@media only screen and (max-width: 380px) and (min-height: 860px) {
    .header h1 {font-size: 1.25rem;}
    .header h1 span {
        -webkit-animation-name: waterLevel5;
        -webkit-animation-duration: 4s;
    }
    @-webkit-keyframes waterLevel5 { 
        0% {background-position: 120px -55px;}
        70% {background-position: 50px -60px;}
        100% {background-position: -10px -65px;}
    }
    .contact h2, .contact a {font-size: 1.25rem;}
}
@media only screen and (max-width: 330px) and (min-height: 860px) {
    .content {
        margin-bottom: 6rem;
    }
    .contact {height: 4rem;}
    .contact h2, .contact a {font-size: 1rem;}
}

/*when screen is short*/
@media only screen and (max-height: 859px) {
    .header h1 {font-size: 4rem;}
    .header h1 span {-webkit-animation-name: waterLevel1;}
    @-webkit-keyframes waterLevel1 { 
        0% {background-position: 220px 20px;}
        70% {background-position: 50px -20px;}
        100% {background-position: -10px -30px;}
    }
    nav ul li {font-size: 2rem;}
    .content {margin-top: 13rem;}
    .content div {
        width: 32rem; 
        height: auto;
        font-size: 1.25rem;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .content div img {padding: 1rem;}
}
@media only screen and (max-height: 859px) and (max-width: 1140px) {
    .contact {
        height: 8rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-height: 859px) and (max-width: 912px) {
    .header h1 {font-size: 3rem;}
    .header h1 span {-webkit-animation-name: waterLevel2;}
    @-webkit-keyframes waterLevel2 { 
        0% {background-position: 220px -20px}
        70% {background-position: 50px -30px;}
        100% {background-position: -10px -40px;}
    }
    nav ul li {font-size: 2rem;}
    .content {margin-top: 13rem;}
}
@media only screen and (max-height: 859px) and (max-width: 780px) {
    .contact h2, .contact a {font-size: 2.5rem;}
}
@media only screen and (max-height: 859px) and (max-width: 680px) {
    .header h1 {font-size: 2rem;}
    .header h1 span {
        -webkit-animation-name: waterLevel3;
        -webkit-animation-duration: 4s;
    }
    @-webkit-keyframes waterLevel3 { 
        0% {background-position: 220px -35px}
        70% {background-position: 50px -50px;}
        100% {background-position: -10px -70px;}
    }
    nav ul li {font-size: 1.5rem;}
    .content {
        margin-top: 11rem;
        margin-bottom: 9rem;
    }
    .contact {height: 7rem;}
    .contact h2, .contact a {font-size: 2rem;}
}
@media only screen and (max-height: 859px) and (max-width: 600px) {
    .content div {
        width: 32rem; 
        height: auto;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .content div img {padding: 0rem;}
}
@media only screen and (max-height: 859px) and (max-width: 520px) {
    .contact h2, .contact a {font-size: 1.75rem;}
}
@media only screen and (max-height: 859px) and (max-width: 476px) {
    .header h1 {font-size: 1.5rem;}
    .header h1 span {
        -webkit-animation-name: waterLevel4;
        -webkit-animation-duration: 4s;
    }
    @-webkit-keyframes waterLevel4 { 
        0% {background-position: 120px -45px;}
        70% {background-position: 50px -50px;}
        100% {background-position: -10px -70px;}
    }
    nav ul li {font-size: 1rem;}
    .content {
        margin-top: 9rem;
        margin-bottom: 8rem;
    }
    .content div {
        width: auto; height: auto;
        font-size: 1rem;
    }
    .contact {height: 6rem;}
    .contact h2, .contact a {font-size: 1.5rem;}
}
/*mobile*/
@media only screen and (max-height: 859px) and (max-width: 380px) {
    .header h1 {font-size: 1.25rem;}
    .header h1 span {
        -webkit-animation-name: waterLevel5;
        -webkit-animation-duration: 4s;
    }
    @-webkit-keyframes waterLevel5 { 
        0% {background-position: 120px -55px;}
        70% {background-position: 50px -60px;}
        100% {background-position: -10px -65px;}
    }
    .contact h2, .contact a {font-size: 1.25rem;}
}
@media only screen and (max-height: 859px) and (max-width: 330px) {
    .content {
        margin-bottom: 6rem;
    }
    .contact {height: 4rem;}
    .contact h2, .contact a {font-size: 1rem;}
}