
/*universal styles*/
html {
    font-family: "Lexend";
    font-size: 16px;
    opacity: 80%;
    text-align: center;
}

html, body {top: 0; right: 0; bottom: 0; left: 0;}


a {
    color: black;
    text-decoration: none;
}

/*header*/
header {
    position: fixed;
    z-index: 1;
    top: 0; right: 0; left: 0;
    height: 15rem;
    margin: 0 auto;
    background-color: white;
    border-bottom: 2rem solid hsla(275, 57.3%, 67.8%, 60%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header .container #test-square {
    text-align: center;
    background-color: grey;
    padding: 1rem;
}
header .container h1 {
    position: fixed;
    text-align: center;
    top: 7.5rem;
    left: 0; right: 0;
    font-size: 4rem;
    padding-top: 0.75rem;
    margin: 0.25rem 1rem 1rem 1rem;
    background-image:-webkit-radial-gradient(center 10px, 100px 80px, black 70%, hsl(202, 69%, 56%) 71%);
    background-size: 4rem 8rem;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-animation-name: waterLevel; 
    -webkit-animation-duration: 4s;  
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes waterLevel { 
    0% {
        background-position: 220px 20px;
    }
    50% {
        background-position: 100px -20px;
    }
    100% {
        background-position: -10px -40px;
    }
}

/*main*/
.content {
    position: relative;
    top: 17.5rem;
    left: 0; right: 0;
    margin: 0 auto;
    padding-bottom: 5rem;
    background-color: hsla(240, 3%, 94%, 80%);;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.content div {
    position: relative;
    height: 20rem;
    width: 18rem;
    padding: 1.25%;
    margin: 1%;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background-color: hsla(240, 3%, 94%, 80%);
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem hsla(0, 0, 0, 30%), 0 0.0625rem 0.125rem hsla(0, 0, 0, 20%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.content div img {
    width: 10rem;
}
/*speech bubble detail*/
.content div:before {
	content: '';
	position: absolute;
	width: 1rem;
	height: 1rem;
	bottom: -0.6rem;
	left: 1.5em;
    transform: rotate(45deg);
    background-color: hsla(240, 3%, 94%, 100%);
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

/*footer*/
.contact {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 7rem;
    bottom: 0; left: 0; right: 0;
    padding: 0.25rem;
    background-color: hsla(95, 57.3%, 32.2%, 80%);
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}
.contact .contact-box {
    padding-bottom: 0.5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.contact img {
    max-width: 2rem;
    padding-right: 2%;
}
.contact h2 {
    font-size: 3rem;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.contact h2, .contact a {
    color: black;
    text-shadow: 0.125rem 0.125rem white;
}


/*adjust for smaller screen sizes*/
/*header and content*/
@media only screen and (max-width: 1160px) {
    .content div {font-size: 1.4rem;}
}
@media only screen and (max-width: 950px), only screen and (max-height: 830px) {
    header {height: 9.5rem;}
    header .container #test-square {top: 1rem;}
    header .container h1 {font-size: 3rem; top: 4rem;}
    .content {top: 11rem;}
    .content div {height: 18rem; width: 20rem;}
}

@media only screen and (max-width: 740px) {
    .content div {height: auto; width: 28rem;}
}

@media only screen and (max-width: 710px), only screen and (max-width: 674px) {
    header {height: 8rem;}
    header .container h1 {font-size: 2rem;}
    .content {top: 9.5rem;}
    .content div {font-size: 1.2rem;}
}
@media only screen and (max-width: 480px) {
    header {height: 8rem;}
    header .container h1 {font-size: 1.6rem;}
    .content {top: 10rem;}
    .content div {font-size: 1rem;}
}
@media only screen and (max-width: 399px) {
    header {height: 7rem;}
    header .container h1 {font-size: 1.2rem;}
    .content {top: 9rem;}
    .content div {font-size: 0.75rem;}
}

/*contact*/
@media only screen and (max-width: 1160px) {
    .contact h2 {font-size: 2.5rem;}
}
@media only screen and (max-width: 960px) {
    .contact h2 {font-size: 2rem;}
}
@media only screen and (max-width: 760px) {
    .contact {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0.0125rem;
    }
    .contact h2 {font-size: 4.75vw;}
}
@media only screen and (max-height: 740px) {
    .contact {height: 6rem;}
}